container_commands:
  01_migrate:
    command: |
      for i in 1 2 3 4 5; do
        CONTAINER=$(sudo docker ps -q)
        if [ -n "$CONTAINER" ]; then
          sudo docker exec $CONTAINER python manage.py migrate --noinput && exit 0
        fi
        sleep 5
      done
      exit 1
    leader_only: true
